/* BUTTONS */
:root {
  --colorAdd: #56baba;
  --colorAddActive: #56baba;
  --colorBorderTask: #0df8f8;
  --colorButtonText: #f2ffff;
  --colorDay: #49b4b4;
  --colorDelete: #368080;
  --colorDeleteHover: #50b5b5;
  --colorGeneralDisplay: #497fb4;
  --colorHtml: #49b47f;
  --colorInput: #eff9f9;
  --colorShadow: #163636;
  --colorText: #132d2d;
  --colorTextChecked: black;
  --colorToDoList: #bde4e4;
  --stroke: #409d9d;
}
.button.add {
  background: var(--colorAdd);
}
.button.delete {
  background: var(--colorDelete);
}
.button:hover {
  background: var(--colorDeleteHover);
}
.button:active {
  background: var(--colorAddActive);
}
.button {
  border-radius: 5px;
  border: 0px solid;
  color: var(--colorButtonText);
  font-size: 15px;
  outline: none;
  padding: 8px;
}
.button[disabled] {
  opacity: 0.3;
}
.App {
  background: var(--colorGeneralDisplay);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.AppDay {
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  -webkit-border-radius: 5%;
  -webkit-transition: all 2s;
  align-items: center;
  background: var(--colorDay);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 3vh;
  padding: 2vw;
}
.AppDay h1 {
  justify-self: flex-start;
  margin-top: 15px;
}
.todo-list {
  background: var(--colorToDoList);
  box-shadow: 0 5px 30px var(--colorShadow);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 3vh;
  max-width: 300px;
  text-overflow: clip;
  width: 90%;
}
.file-input {
  background: var(--colorInput);
}
.file-input > .text {
  background: transparent;
  border: 0px solid;
  font-size: 15px;
  height: 46px;
  outline: none;
  width: 230px;
}
.todo {
  border-bottom: solid 3px var(--colorBorderTask);
  display: flex;
  justify-content: left;
  margin: 10px;
  padding-bottom: 10px;
  padding: 0;
}
.new-item {
  justify-content: left;
  width: 95%;
}
.todo__text {
  margin-left: 5px;
  max-width: 90%;
  overflow-wrap: break-word;
  text-align: justify;
}
.todo__state {
  justify-self: left;
}
.todo:last-child {
  border-bottom: none;
}
ul {
  align-items: center;
  color: #eff9f9;
  display: flex;
  flex-wrap: wrap;
  font-size: x-large;
  font-weight: bold;
  justify-content: center;
  list-style-type: "< >  ";
}
li {
  margin: 2vh 5vw;
  width: 200px;
}
a {
  color: #bde4e4;
  text-decoration: none;
}
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw 10vw;
  width: 80vw;
}
.Home * {
  margin: 0;
  padding: 0;
}
.Home h1 {
  margin-bottom: 2vh;
  text-align: justify;
}
.Home h2 {
  margin-bottom: 1vw;
  text-align: left;
}
.Home ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style: "*   ";
  margin: 1vw 15vw;
  width: 50vw;
}
.Home li {
  font-size: 0.8em;
  justify-self: left;
  margin-top: 1vh;
  text-align: justify;
  width: 100%;
}
@media (max-width: 450px) {
  body {
    font-size: 0.5em;
  }
  .Home li {
    font-size: 0.5em;
  }
}
@media (min-width: 450px) and (max-width: 780px) {
  body {
    font-size: 0.65em;
  }
  .Home li {
    font-size: 0.65em;
  }
}
